.container {
  width: 672px;
  margin: 0 auto;
  padding: 26px;
  padding-top: 22px;
  box-sizing: border-box;
}

.cards {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}

.modalContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #004980c0;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 35px;
}

.timer {
  display: flex;
  align-items: end;

  color: #fff;
  font-family: StratosSkyeng;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px;
}

.previewText {
  font-size: 30px;
  line-height: 30px;
  margin-top: 34px;
  margin-bottom: 10px;
}
.previewDescription {
  font-size: 18px;
  line-height: 18px;
}

.timerValue {
  text-align: right;
}

.timerDescription {
  color: #fff;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: StratosSkyeng;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;

  margin-bottom: -12px;
}
.lifesCount {
  padding-left: 20px;
  padding-right: 20px;
  font-family: StratosSkyeng;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  color: #fff;
}
.linkMain {
  color: #fff;
  text-align: center;
  font-family: StratosSkyeng;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
 
}
.imgBox{
  display: flex;
  gap: 15px;
}
.vision {
  position: relative;
  height: 68px;
  width: 68px;
  background-image: url(./img/prozrenie.svg);
  border-radius: 34px;
  cursor: pointer;
  opacity: 0.5;
  border: none;
}
.vision:hover{
  opacity: 1;
  
}
.alohomora{
  height: 68px;
  width: 68px;
  background-image: url(./img/alohomora.svg);
  border-radius: 34px;
  cursor: pointer;
  opacity: 0.5;
  border: none;
}
.alohomora:hover{
  opacity: 1;
}
.popup {
  display: none;
  position: absolute;
  z-index: 2;
  top:80px;
  left: -100px;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 222px;
  height: auto;
  padding: 20px;
  border-radius: 12px;
  font-size: 18px;
  font-family: StratosSkyeng;
  line-height: 24px;
  color: #004980;
  background-color: #C2F5FF;
 
}


.popup_heading {
  text-align: center;
  display: block;
  font-size: 20px;
  font-weight: bold;
}

.popup_info {
  display: block;
  text-align: center;
}
.vision_block{
  position: relative;
  display: flex;
}
.vision_block:hover .popup {
  display: block;
  
}
.alohomora_block{
  position: relative;
  display: flex;
}
.alohomora_block:hover .popup {
  display: block;
  
}